
@{
    ViewData["Title"] = "Job Fixa";
}


<div class="jumbotron text-center">
    <h1 class="display-4">Job Fixa</h1>
    <p class="lead">Connecting job seekers to their dream job</p>
    <a asp-controller="Home" asp-action="EmployerRegister" class="btn btn-primary btn-lg active rounded-2 employerbutton" role="button" aria-pressed="true">Register/log-in as an Employer</a>
    <a asp-controller="Home" asp-action="JobSeekerRegister" class=" btn btn-secondary btn-lg active rounded-2 jobseekerbutton" role="button" aria-pressed="true">Register/log-in as a Job Seeker</a>
</div>